/node_modules/
/db.json
/package-lock.json
*.iml
*.ipr
*.iws
.idea/
.idea/deployment.xml
/db_auth.json
/.crypto_iv
/.crypto_key

/bin/.env
/bin/db.json
/bin/db_auth.json
/bin/.crypto_iv
/bin/.crypto_key